<div class="container-fluid" ng-controller="BuildDefinitionController">
    <div class="row">
        <div class="col-lg-1">
            <button ng-click="toggle()" type="button" class="btn btn-default" ng-disabled="IsLaunching">Toggle</button>
        </div>
        <div class="col-lg-1">
            <button ng-click="queueDefinitions()" class="btn btn-success" id="launch" ng-disabled="noneChecked() || IsLaunching">Launch Selected</button>
        </div>
    </div>
    <div class="row" >
        
        <table ng-table="tableParams" class="table table-condensed" id="buildsTable" show-filter="true">
<tr ng-repeat="definition in $data">
                <td title="''" ng-class="{buildStarted: definition.launched}" style="text-align: center"><input type="checkbox" name="definitionIds" value="{{definition.id}}" ng-checked="isSelected(definition)" ng-click="select(definition)" ng-disabled="IsLaunching" ng-if="!definition.launched"/><span ng-if="definition.launched">Launched</span></td>
                <td title="'Project Name'" sortable="'project.name'" filter="{project : 'text'}" ng-class="{buildStarted: definition.launched}">{{definition.project.name}}</td>
                <td title="'Folder'" sortable="'definition.path'" filter="{path: 'text'}" ng-class="{buildStarted: definition.launched}">{{definition.path}}</td>
                <td title="'Definition Name'" sortable="'definition.name'" filter="{name: 'text'}" ng-class="{buildStarted: definition.launched}">{{definition.name}}</td>
                <td title="'Default Branch'" ng-class="{buildStarted: definition.launched}">{{definition.defaultBranch | buildDefaultBranch}}</td>
                <td title="'Latest Build Status'" sortable="'definition.latestBuild.buildResult'" ng-bind-html="definition.latestBuild | latestBuildStatus" ng-class="{buildStarted: definition.launched}" filter="{latestBuildResult: 'select'}" filter-data="buildStatuses"></td>
                <td title="'Average Run Time'" style="padding: 1px;vertical-align:bottom">
                    <svg class="chart" width="130" height="20" role="img">
                        <a href="{{build._links.web.href}}" target="_blank" ng-repeat="build in definition.latestBuilds">
                            <g ng:attr:class="bar {{build.result}}" >
                                <title>{{build.result}}{{convertRunTime(getRunTime(build))}}</title>
                                <rect width="12" ng:attr:height="{{getHeight(definition.latestBuilds, build)}}" ng:attr:x="{{$index * 13}}" ng:attr:y="{{20 - getHeight(definition.latestBuilds, build)}}"></rect>
                            </g>
                        </a>
                    </svg>
                </td>
            </tr>
        </table>
    </div>
</div>