<div class="container" ng-controller="BuildsController">
    <div id="Loading" ng-if="!IsLoaded">
        <div class="loader"></div>
    </div>
    <div class="row" ng-if="IsLoaded">
        <div class="col-lg-4">
            <select class="form-control" ng-model="SelectedProjectId" ng-change="UpdateSelectedProject()">
                <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}</option>
            </select>
        </div>
    </div>
    <div class="row" ng-if="IsLoaded">
        <table  ng-table="tableParams" class="table table-striped" id="buildsTable" show-filter="true">
            <tr ng-repeat="build in $data">
                <td title='Build ID' sortable="'id'" filter="{id: 'number'}"><a href="{{build.buildUrl}}" target="_blank">{{build.id}}</a></td>
                <td title="Project Name" sortable="'project.name'" filter="{project.name : 'text'}">{{build.project.name}}</td>
                <td title="Definition Name" sortable="'definition.name'" filter="{definition.name : 'text'}">{{build.definition.name}}</td>
                <td title="Last Change" sortable="'lastChangedDate'" filter="{lastChangedDate : 'text'}">{{build.lastChangedDate | date : "MM/dd/yyyy 'at' h:mm a" }}</td>
                <td title="Build Result" sortable="'result'" filter="{result : 'text'}" ng-bind-html="build | buildResult"></td>
                <td title="Build Status" sortable="'status'" filter="{status : 'text'}" ng-bind-html="build.status | buildStatus"></td>
            </tr>
            
        </table>
    </div>
</div>