<div class="container-fluid" ng-controller="JobRequestsController">
    <div class="row">
        <table class="table table-condensed" id="jobRequestsTable" show-filter="true" >
            <thead>
            <tr>
                <th>Request ID</th>
                <th>Job Type</th>
                <th>Project Name</th>
                <th>Launched By</th>
                <th>Result</th>
                <th>Queued Time</th>
                <th>Assigned Time</th>
                <th>Started Time</th>
                <th>Finished Time</th>
            </tr>
            </thead>
            
        </table>
    </div>
</div>
<script type="text/javascript">
    var longDateFormat = 'MM/dd/yyyy hh:mm:ss a';

    $(document)
        .ready(function() {
            var dataTable = $("#jobRequestsTable").DataTable({
                "order" : [0, "desc"],
                "ajax": {
                    "url": "/data/JobRequests",
                    "dataSrc": function(json) {
                        for (var i = 0, ien = json.length; i < ien; i++) {
                            var jobRequest = json[i];
                            json[i][0] = "<a href=" + jobRequest.owner._links.web.href + " target='_blank'>" + jobRequest.requestId + "</a>";
                            if (jobRequest.planType === 'release')
                                json[i][1] = '<span class="glyphicon glyphicon-plane" style="color:blue"></span>' +
                                    jobRequest.planType;
                            else if (jobRequest.planType === 'build')
                                json[i][1] = '<span class="glyphicon glyphicon-gift" style="color:green"></span>' +
                                    jobRequest.planType;

                            if (jobRequest.planType === 'build') {
                                // The path will always at least be "\" so the length needs to be more than one
                                if(jobRequest.definition.path.length > 1)
                                    json[i][2] = "<span class='path' style='color:blue'>[" + jobRequest.definition.path.substring(1) + "]</span> " + jobRequest.definition.name;
                                else
                                    json[i][2] = jobRequest.definition.name;
                            }
                                
                            else
                                json[i][2] = jobRequest.definition.name;

                            if (jobRequest.planType === 'build' && jobRequest.owner.requestedFor)
                                json[i][3] = jobRequest.owner.requestedFor.displayName;
                            else
                                json[i][3] = "---";

                            if (jobRequest.status === 'succeeded')
                                json[i][4] = '<span style="color:green">Succeeded</span>';
                            else if (jobRequest.status === 'failed')
                                json[i][4] = '<span style="color:red">Failed</span>';
                            else if (jobRequest.status === 'queued') {
                                if(jobRequest.planType === 'release')
                                    json[i][4] = '<span style="color:blue">Releasing</span>';
                                else 
                                    json[i][4] = '<span style="color:blue">Queued</span>';    
                            }
                            else if (jobRequest.status === 'assigned')
                                json[i][4] = '<span style="color:blue">Assigned</span>';
                            else if (jobRequest.status === 'started')
                            {
                                if(jobRequest.planType === 'release')
                                    json[i][4] = '<span style="color:blue">Releasing</span>';
                                else 
                                    json[i][4] = '<span style="color:blue">Building</span>';    
                            }
                            else if (jobRequest.status === 'failed')
                                json[i][4] = '<span style="color:red">Failed</span>';
                            else if (jobRequest.status === 'abandoned')
                                json[i][4] = '<span style="color:gray">Abandoned</span>';
                            else if (jobRequest.status === 'canceled')
                                json[i][4] = '<span style="color:orange">Cancelled</span>';
                            else
                                json[i][4] = '<span style="color:pink"> ${status} </span>';

                            if (jobRequest.queueTime)
                                json[i][5] = $.format.date(jobRequest.queueTime, longDateFormat);
                            else 
                                json[i][5] = "---";

                            if (jobRequest.assignTime)
                                json[i][6] = $.format.date(jobRequest.assignTime, longDateFormat);
                            else
                                json[i][6] = "---";
                            if (jobRequest.planType === 'release')
                                json[i][7] = "---";
                            else if (jobRequest.startedTime)
                                json[i][7] = $.format.date(jobRequest.startedTime, longDateFormat);
                            else
                                json[i][7] = "---";

                            if (jobRequest.finishTime)
                                json[i][8] = $.format.date(jobRequest.finishTime, longDateFormat);
                            else
                                json[i][8] = "---";

                        }
                        return json;
                    }
                }
               
            });

            setInterval(function () {
                dataTable.ajax.reload();
            }, 2000);

        });
</script>