<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 sub-nav">
            <!--<select class="form-control projectSelector" ng-change="UpdateSelectedProject()">
                <option value="-1">[All]</option>
            </select>-->
        </div>
    </div>
    <div class="row" id="pullRequestHeader">
        <div class="col-lg-4 visible-lg"></div>
        <div class="col-lg-2 visible-lg">
            <b>Project</b>
        </div>
        <div class="col-lg-2 visible-lg">
            <b>Developer</b>
        </div>
            <div class="col-lg-4 visible-lg">
                <b>Reviewers</b>
            </div>
        </div>
    <div id="pullRequests"></div>
    <div id="NoPullRequests" style="display: none" class="text-center">
        <img src="/images/sunshine.png" width="300"/>
        <h2>No Pull Requests</h2>
    </div>
</div>


<script type="text/javascript" style="display: none">
    $.get({
        url: "data/Projects",
        success: function(data) {
            var selector = $(".projectSelector");
            $(data)
                .each(function(index) {
                    var project = data[index];
                    selector.append("<option  value='" + project.id + "'>" + project.name + "</option>");
                });
        }
    });

    fetchData();

    function fetchData() {
        $.get("data/PullRequests",
        function (data) {
            if (data.length === 0) {
                $("#pullRequestHeader").hide();
                $("#pullRequests").hide();
                $("#NoPullRequests").show();
                return;
            }

            $("#pullRequestHeader").show();
            $("#pullRequests").show();
            $("#NoPullRequests").hide();
            data.sort(function (a, b) {
                var aDate = new Date(a.creationDate).getTime();
                var bDate = new Date(b.creationDate).getTime();
                if (aDate === bDate)
                    return 0;
                if (aDate > bDate)
                    return 1;
                else 
                    return -1;

            });
            $("#pullRequests").html($("#pullRequestTemplate").tmpl(data));
            formatPage();
            window.setTimeout(fetchData, 3000);
        });
    };
    
</script>
<script id="pullRequestTemplate" type="text/x-jQuery-tmpl">
    <div class="row striped">
        <div class="col-lg-4 col-md-12" style="padding: 5px">
            <h4>
                <a style="color:darkslategray" href="${remoteUrl}" target="_blank">${title}</a>
            </h4>
            <h5>
                <div>
                    <span class="hidden-xs">
                        {{if completionOptions != null}}
                        <span style="color:goldenrod"><i class="glyphicon glyphicon-thumbs-up"></i><span class="hidden-xs"> AutoComplete Set</span></span><br/>
                        {{/if}}
                    </span>
                   
                    {{if mergeStatus == 'conflicts'}}
                    <span style="color:red"><i class="glyphicon glyphicon-remove"></i><span class="hidden-xs"> Merge Conflicts</span></span>
                    {{/if}}
                </div>
            </h5>
            <div>
                <span >
                    {{if build == null}}
                    {{if mergeStatus == 'conflicts'}}
                    <span style="color:red"><i class="glyphicon glyphicon-alert"></i><span class="hidden-xs"> Merge conflicts preventing build.</span></span>
                    {{else}}
                    <span class="glyphicon glyphicon-remove" style="color: red"><span class="hidden-xs"> No Build Queued</span></span>
                    {{/if}}
                    {{/if}}
                    {{if build != null}}
                    <a href="${build._links.web.href}" target="_blank">
                        {{if build.status == 'notStarted'}}
                        <span style="color:gray"><i class="glyphicon glyphicon-fire"></i> <span class="hidden-xs"> Build Not Started</span></span>
                        {{else build.status == 'inProgress'}}
                        <span style="color:blue"><i class="glyphicon glyphicon-fire"></i> <span class="hidden-xs"> Build In Progress</span></span>
                        {{else build.result == 'succeeded'}}
                        <span style="color:green"><i class="glyphicon glyphicon-check"></i> <span class="hidden-xs"> Build Succeeded</span></span>
                        {{else build.result == 'failed'}}
                        <span style="color:red"><i class="glyphicon glyphicon-remove"></i> <span class="hidden-xs"> Build Failed</span></span>
                        {{else mergeStatus == 'conflicts'}}
                        <span style="color:red"><i class="glyphicon glyphicon-alert"></i> <span class="hidden-xs"> Merge conflicts preventing build.</span></span>
                        {{else}}
                        <span style="color:orange"><i class="glyphicon glyphicon-remove"></i> ${build.status}|${build.result}</span>
                        {{/if}}
                    </a>
                    {{/if}}
                </span>
                <span >
                    {{if requiredReviewers > 0}}
                    |
                    {{if hasEnoughReviewers}}
                    <i class="glyphicon glyphicon-check" style="color: green"></i>
                    {{else}}
                    <i class="glyphicon glyphicon-remove" style="color: red"></i>
                    {{/if}}
                    {{/if}}
                </span><span class="hidden-xs">  ${acceptedReviewers} of ${requiredReviewers} Required Reviewers</span>
            </div>
        </div>
        <div class="col-lg-2 hidden-xs">
                <a href="${repository.project.remoteUrl}" target="_blank">${repository.project.name}</a>
                <br/>
                <a href="${repository.remoteUrl}" target="_blank">${repository.name}</a>
        </div>
        <div class="col-lg-2 padding col-md-12">
            <span class="visible-xs">Created By: </span>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="${createdBy.imageUrl}" alt="User Photo" height="30" width="30">
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        ${createdBy.displayName}
                        <br/>(<span class="datetime-pretty hidden-xs">${creationDate}</span>)
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 padding reviewers">
            <span class="visible-xs">Reviewers: </span>
        {{tmpl(reviewers) "#reviewersTemplate"}}
    </div>
    </div>
</script>

<script id="reviewersTemplate" type="text/x-jQuery-tmpl">
    {{if isContainer == false}}
    <div>
        <div class="media">
            <div class="media-left"><img class="media-object" src="${imageUrl}" alt="User Photo" height="30" width="30">
                
            </div>
            
            <div class="media-body hidden-xs">
                ${displayName} | 
                <span>
                    {{if vote == 10}}<span style="color: green"><b>Approved</b></span>
                    {{else vote == 5}}
                        <span style="color: orange"><b>Approved With Suggestions</b></span>
                    {{else vote == 0}}
                        <span style="color: gray"><b>No Response</b></span>
                    {{else vote == -5}}
                        <span style="color: orangered"><b>Waiting For Author</b></span>
                    {{else vote == -10}}
                        <span style="color: red"><b>Rejected</b></span>
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
    {{/if}}
</script>
