<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 sub-nav">
            <!--<select class="form-control projectSelector" ng-change="UpdateSelectedProject()">
                <option value="-1">[All]</option>
            </select>-->
        </div>
    </div>
    <div class="row" id="pullRequestHeader">
        <div class="col-lg-4 visible-lg"></div>
        <div class="col-lg-2 visible-lg">
            <b>Project</b>
        </div>
        <div class="col-lg-2 visible-lg">
            <b>Developer</b>
        </div>
            <div class="col-lg-4 visible-lg">
                <b>Reviewers</b>
            </div>
        </div>
    <div id="pullRequests"></div>
    <div id="NoPullRequests" style="display: none" class="text-center">
        <img src="/images/sunshine.png" width="300"/>
        <h2>No Pull Requests</h2>
    </div>
</div>


<script type="text/javascript" src="../js/pullRequests.js"></script>

<script id="pullRequestTemplate" type="text/x-jQuery-tmpl">
    <div class="row striped">
        <div class="col-lg-4 col-md-12" style="padding: 5px">
            <h4>
                <a style="color:darkslategray" href="${url}" target="_blank">${title}</a>
            </h4>
            <h5>
                <div>
                    <span class="hidden-xs">
                        {{if isAutoCompleteSet}}
                        <span style="color:goldenrod"><i class="glyphicon glyphicon-thumbs-up"></i><span class="hidden-xs"> AutoComplete Set</span></span><br/>
                        {{/if}}
                    </span>
                   
                    {{if mergeStatus == 'conflicts'}}
                    <span style="color:red"><i class="glyphicon glyphicon-remove"></i><span class="hidden-xs"> Merge Conflicts</span></span>
                    {{/if}}
                </div>
            </h5>
            <div>
                <span >
                    
                    {{if buildStatus == 'noBuild'}}
                    <span class="glyphicon glyphicon-remove" style="color: red"><span class="hidden-xs"><a href="${buildUrl}" target="_blank" >No Build Queued</a></span></span>
                    {{else}}
                    <a href="${buildUrl}" target="_blank">
                        {{if buildStatus == 'notStarted'}}
                        <span style="color:gray"><i class="glyphicon glyphicon-fire"></i> <span class="hidden-xs"> Build Not Started</span></span>
                        {{else buildStatus == 'building'}}
                        <span style="color:blue"><i class="glyphicon glyphicon-fire"></i> <span class="hidden-xs"> Build In Progress</span></span>
                        {{else buildStatus == 'expired'}}
                        <span style="color:darkorange"><i class="glyphicon glyphicon-alert"></i> <span class="hidden-xs"> Build Expired</span></span>
                        {{else buildStatus == 'succeeded'}}
                        <span style="color:green"><i class="glyphicon glyphicon-check"></i> <span class="hidden-xs"> Build Succeeded</span></span>
                        {{else buildStatus == 'failed'}}
                        <span style="color:red"><i class="glyphicon glyphicon-remove"></i> <span class="hidden-xs"> Build Failed</span></span>
                        {{else}}
                        <span style="color:orange"><i class="glyphicon glyphicon-remove"></i> ${buildStatus}</span>
                        {{/if}}
                    </a>
                    {{/if}}
                </span>
                <span >
                    |
                    {{if HasEnoughReviewers}}
                    <i class="glyphicon glyphicon-check" style="color: green"></i>
                    {{else}}
                    <i class="glyphicon glyphicon-remove" style="color: red"></i>
                    {{/if}}
                </span><span class="hidden-xs">  ${acceptedReviewers} of ${requiredReviewers} Required Reviewers</span>
            </div>
        </div>
        <div class="col-lg-2 hidden-xs">
                <a href="${repository.project.url}" target="_blank">${repository.project.name}</a>
                <br/>
                <a href="${repository.url}" target="_blank">${repository.name}</a>
        </div>
        <div class="col-lg-2 padding col-md-12">
            <span class="visible-xs">Created By: </span>
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="${creator.iconUrl}" alt="User Photo" height="30" width="30">
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        ${creator.name}
                        <br/>(<span class="datetime-pretty hidden-xs">${createdDate}</span>)
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 padding reviewers">
            <span class="visible-xs">Reviewers: </span>
        {{tmpl(reviewers) "#reviewersTemplate"}}
    </div>
    </div>
</script>

<script id="reviewersTemplate" type="text/x-jQuery-tmpl">
    <div>
        <div class="media">
            <div class="media-left"><img class="media-object" src="${iconUrl}" alt="User Photo" height="30" width="30">
                
            </div>
            
            <div class="media-body hidden-xs">
                ${name} | 
                <span>
                    {{if reviewStatus == 'NoResponse'}}<span style="color: green"><b>Approved</b></span>
                    {{else reviewStatus == 'Approved'}}
                        <span style="color: orange"><b>Approved With Suggestions</b></span>
                    {{else reviewStatus == 'ApprovedWithSuggestions'}}
                        <span style="color: gray"><b>No Response</b></span>
                    {{else reviewStatus == 'WaitingForAuthor'}}
                        <span style="color: orangered"><b>Waiting For Author</b></span>
                    {{else reviewStatus == 'Rejected'}}
                        <span style="color: red"><b>Rejected</b></span>
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
</script>
