<div class="container-fluid">
    <div class="row">
        <table class="table table-condensed" id="updateStatusTable" show-filter="true">
            <thead>
                <tr>
                    <th>Updater</th>
                    <th>Last Updated</th>
                    <th>Updated Record</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    var longDateFormat = 'MM/dd/yyyy hh:mm:ss a';

    $(document)
        .ready(function() {
            var dataTable = $("#updateStatusTable").DataTable({
                "order": [0, "desc"],
                "ajax": {
                    "url": "/data/UpdateStatus",
                    "dataSrc": function (json) {
                        console.log(json);
                        for (var i = 0, ien = json.length; i < ien; i++) {
                            var updater = json[i];
                            json[i][0] = updater.updaterName;
                            json[i][1] = $.format.date(updater.lastUpdate, longDateFormat);
                            json[i][2] = updater.updatedRecords;
                        }
                        return json;
                    }
                }
            });
        });
</script>